h2{
    color: rgb(107, 6, 6);
}
.blog{
    border: 10px solid red;
    margin: 20px;
    box-shadow: 10px 10px 10px darkgreen;
}
.header{
    height: 300px;
    background-image: url('green-apple-50-gm-1-kg.webp');
    background-size: contain;
    background-repeat: none;

}